
<div class="row">
    <div class="col-sm-2 col-md-6 col-lg-3">
        <mat-card class="height">
            <mat-card-content>
                <span class="left bigFont">45</span>
                <span class="right"><strong>Total number of tasks</strong></span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-2 col-md-6 col-lg-3">
        <mat-card class="height">
            <mat-card-content>
                <div class="progress blue left">
                    <span class="progress-left">
                                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"><strong>14</strong></div>
                  </div>
                  <div class="right"><strong>Number of tasks on track</strong></div>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-2 col-md-6 col-lg-3">
        <mat-card class="height">
            <mat-card-content>
                <div class="progress yellow left">
                    <span class="progress-left">
                                    <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                                    <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"><strong>12</strong></div>
                  </div>
                  <span class="right"><strong>Number of tasks delayed</strong></span>
            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-sm-2 col-md-6 col-lg-3">
        <mat-card class="height">
            <mat-card-content>
                <div class="progress blue left">
                    <span class="progress-left">
                                      <span class="progress-bar"></span>
                    </span>
                    <span class="progress-right">
                                      <span class="progress-bar"></span>
                    </span>
                    <div class="progress-value"><strong>19</strong></div>
                  </div>
                  <span class="right"><strong>Number of tasks completed</strong></span>
            </mat-card-content>
        </mat-card>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-4"><app-circle-chart></app-circle-chart></div>
    <div class="col-sm-3 col-md-6 col-lg-4"><mat-card>
        <mat-card-content>Tasks by Beinex<app-bar-chart></app-bar-chart></mat-card-content></mat-card></div>
    <div class="col-sm-3 col-md-6 col-lg-4"><mat-card>
        <mat-card-content>Tasks by Auraa<app-bar-chart></app-bar-chart></mat-card-content></mat-card></div>
</div>